<div class=" content">
    <p-table [value]="reviewers" dataKey="name" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="d-flex bd-highlight">
                <div class="p-2 w-100 bd-highlight">
                    <h2 class="p-m-0" style="font-weight: 500">Quản lý Reviewer</h2>
                </div>
            </div>         
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem" class="text-center"></th>
                <th pSortableColumn="name" style="width: 15rem">
                    Name<p-sortIcon field="name" class="text-center"></p-sortIcon>
                </th>
                <th class="text-center" style="width: 20rem">Hình ảnh</th>
                <th pSortableColumn="email" style="text-align: center; width: 20rem">
                    Email<p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="text-align: center">
                    Status<p-sortIcon field="status"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reviewer let-expanded="expanded">
            <tr>
                <td>
                    <button
                      type="button"
                      (click)="openCriteria(campaign)"
                      pButton
                      pRipple
                      [pRowToggler]="campaign"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    ></button>
                  </td>
                <td>{{ reviewer.name }}</td>
                <td>
                    <img [src]="reviewer.image" [alt]="reviewer.name" width="150"
                        class="p-shadow-4 rounded mx-auto d-block" />
                </td>
                <td style="text-align: center;">
                    {{ reviewer.email }}
                  </td>
                  <td style="text-align: center;">
                    {{ reviewer.status }}
                  </td>
                <td style="text-align: right;">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                        style="margin-right: 15px" (click)="viewReviewer(reviewer)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteReviewer(reviewer)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>