<div class=" content">
  <p-table #datatable
  [value]="reviewers"
  dataKey="name"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} mục"
  [rowsPerPageOptions]="[5, 10, 20]"
  [globalFilterFields]="['email']"
      [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
          <h2 class="p-m-0" style="font-weight: 500">Quản lý Reviewer</h2>
        </div>
        
      </div>
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="datatable.filterGlobal($event.target.value, 'contains')"
            placeholder="Tìm kiếm theo email"
            pTooltip="Tìm kiếm theo email"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem; text-align: center" >Stt</th>
        <th pSortableColumn="name" style="width: 15rem;text-align: left">
          Tên<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th   style="text-align: left; width: 15rem">
          Email
        </th>
        <th style="text-align: left; width: 10rem">
          <div class="p-d-flex p-jc-between p-ai-center">
            Trạng thái
            <p-columnFilter
              field="status"
              matchMode="equals"
              [display]="'menu'"
              [showAddButton]="false"
              [showMatchModes]="false"
              [showOperator]="false"
              [showClearButton]="false"
              [showApplyButton]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="listStatus"
                  (onChange)="filter($event.value)"
                  placeholder="Chọn trạng thái"
                  [showClear]="true"
                >
                  <ng-template let-option pTemplate="item">
                    <span [class]="'reviewer-badge status-' + option.value">{{
                      option.label
                    }}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width: 10rem; text-align: center">Xem chi tiết</th>
        <th class="text-center">Khóa</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reviewer let-expanded="expanded" let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: center">{{rowIndex+1}}</td>
        <td style="text-align: left">{{ reviewer.name }}</td>
        <td style="text-align: left">
          {{ reviewer.email }}
        </td>
        <td style="text-align: left">
          <div>
            <span class="WARNING"
              *ngIf="reviewer.status.toLowerCase() === 'unverified'">CHƯA XÁC THỰC</span>
              <span class="OK"
              *ngIf="reviewer.status.toLowerCase() === 'verified'">ĐÃ XÁC THỰC</span>
              <span class="ERROR" 
              *ngIf="reviewer.status.toLowerCase() === 'locked'">ĐÃ KHÓA</span>
          </div>
        </td>

        <td style="text-align: center">
          <button
            type="button"
            (click)="openDetailReviewer(reviewer)"
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="'pi pi-eye'"
            pTooltip="Xem chi tiết"
          ></button>
        </td>
        <td style="text-align: center" *ngIf="reviewer.status ==='Verified'">
          <button pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-danger"
            (click)="deleteReviewer(reviewer)"></button>
        </td>
          <td style="text-align: center" *ngIf="reviewer.status === 'Locked'">
            <button pButton pRipple icon="pi pi-unlock" class="p-button-rounded p-button-success"
              (click)="unDeleteReviewer(reviewer)"></button>
          </td>
          <td style="text-align: center" *ngIf="reviewer.status.toLowerCase() ==='unverified'">
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3"></td>
        <td colspan="3" *ngIf="isShowSpin">
          <p-progressSpinner
            [style]="{ width: '50px', height: '50px' }"
            styleClass="custom-spinner"
            strokeWidth="8"
            fill="#EEEEEE"
            animationDuration=".5s"
          ></p-progressSpinner>
        </td>
        <td colspan="3" *ngIf="!isShowSpin">Không có Reviewer.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog></p-confirmDialog>
  <p-toast position="top-right"></p-toast>
  <router-outlet></router-outlet>
</div>