aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper, .scroll-window {
  width: 100% !important;
}

.userlist-box {
  &.show {
    display: -webkit-box;
  }
  &.hide {
    display: none;
  }
}

.avatar-wrap {
  margin: 0 auto;
  border: 2px solid white;
  width: 70px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.pcoded .pcoded-navbar[navbar-theme=themelight1] .pcoded-item>li.active>a {
  background-color: #0073aa!important;
    color: #fff!important;
}


