.btn-gg {
    padding: 20px;
    display: inherit;
    justify-content: center;
    .google {
        border: 1px #0087f4 solid;
        border-radius: 3px;
        padding-right: 10px;
        text-decoration: none;
        font-weight: 700;
        img {
          margin: -2px 10px -2px -2px;
        }
      }
      a:hover {
        background: #0087f4;
        color: white;
      }
}
