<div class="content">
  <p-table
    #datatable
    [value]="universities"
    dataKey="name"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} mục"
    [rowsPerPageOptions]="[5, 10, 20]"
    [(selection)]="selectedUniversities"
    [globalFilterFields]="['name']"
    [rowHover]="true"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
          <h2 class="p-m-0" style="font-weight: 500">Quản lý trường đại học</h2>
        </div>
        <div class="ml-auto">
          <p-button
            icon="pi pi-refresh"
            [loading]="isShow"
            (onClick)="reloadUniversities()"
            pTooltip="Reload Redis"
          ></p-button>
        </div>
      </div>
      <div class="row">
        <div class="mr-auto" style="margin: 0 0 20px 20px">
          <button
            pButton
            pRipple
            label="Thêm mới"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
            (click)="openNewUniversity()"
          ></button>
        </div>
      </div>
      <div class="p-d-flex mr-auto">
        <button
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedUniversities()"
          [disabled]="!selectedUniversities || !selectedUniversities.length"
          pTooltip="Xoá các trường đại học đã chọn"
          style="margin-right: 5px"
        ></button>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="datatable.filterGlobal($event.target.value, 'contains')"
            placeholder="Tìm kiếm theo tên trường đại học"
            pTooltip="Tìm kiếm theo tên trường đại học"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem; text-align: center">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 5rem; text-align: center">Stt</th>
        <th pSortableColumn="name" style="width: 15rem; text-align: left">
          Tên trường đại học<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 15rem; text-align: left">Email</th>
        <th style="width: 10rem; text-align: right">Số điện thoại</th>
        <th style="width: 10rem; text-align: center">Xem chi tiết</th>
        <th style="text-align: center">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-university let-rowIndex="rowIndex">
      <tr>
        <td>
          <p-tableCheckbox [value]="university"></p-tableCheckbox>
        </td>
        <td style="text-align: center">{{ rowIndex + 1 }}</td>
        <td style="text-align: left">{{ university.name }}</td>
        <td style="text-align: left">{{ university.email }}</td>
        <td style="text-align: right">{{ university.phoneNumber }}</td>
        <td style="text-align: center">
          <button
            type="button"
            (click)="openDetailUniModal(university)"
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="'pi pi-eye'"
            pTooltip="Xem chi tiết"
          ></button>
        </td>
        <td style="text-align: center">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success"
            style="margin-right: 15px"
            (click)="editUni(university)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteUni(university)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4"></td>
        <td colspan="3" *ngIf="isShowSpin">
          <p-progressSpinner
            [style]="{ width: '50px', height: '50px' }"
            styleClass="custom-spinner"
            strokeWidth="8"
            fill="#EEEEEE"
            animationDuration=".5s"
          ></p-progressSpinner>
        </td>
        <td colspan="3" *ngIf="!isShowSpin">Không có trường đại học.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- edit uni modal -->
  <p-dialog
    [(visible)]="newUniverisityDialog"
    [style]="{ width: '600px' }"
    header="Thông tin trường đại học"
    [modal]="true"
    styleClass="p-fluid"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Tên trường đại học</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="university.name"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          id="email"
          [(ngModel)]="university.email"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="link">Website</label>
        <input
          type="text"
          pInputText
          id="link"
          [(ngModel)]="university.link"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="phoneNumber">Số điện thoại</label>
        <input
          type="text"
          pInputText
          id="phoneNumber"
          [(ngModel)]="university.phoneNumber"
          required
          autofocus
        />
      </div>

      <div class="p-field mt-3">
        <label for="image">Logo trường đại học</label>
        <form
          [formGroup]="formTemplate"
          (submit)="onSubmit(formTemplate.value)"
        >
          <div class="text-center">
            <img
              [src]="imgSrc"
              width="350px"
              height="250px"
              (click)="fileUploader.click()"
            />
          </div>
          <div class="form-group">
            <input
              type="file"
              accept="image/*"
              class="form-control"
              #fileUploader
              formControlName="imageUrl"
              (change)="showPreview($event)"
            />
          </div>
        </form>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideUniDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveUniversity()"
      ></button>
    </ng-template>
  </p-dialog>
  <p-confirmDialog></p-confirmDialog>
  <p-toast position="top-right"></p-toast>
  <router-outlet></router-outlet>
</div>
