<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme4" pcoded-header-position="fixed">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme4">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"  (clickOutside)="onClickedOutside($event)">
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="pi pi-bars"></i></a></div>
              </li>
              <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="pi pi-window-maximize"></i>
                </a>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              
              <li class="header-notification">
                <a href="javascript:;">
                  <i class=" pi pi-bell "></i>
                  <span class="badge">5</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="assets/images/user.png" alt="User-Profile-Image">
                  <span>John Doe</span>
                  <i class="pi pi-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/crm-contact']">
                      <i class="pi pi-cog"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/user/profile']">
                      <i class="pi pi-user-edit"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/']">
                      <i class="pi pi-sign-out"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
