.dl-horizontal {
    color: #545F7A;
    font-size: 14px;
}
th {
    font-size: 14px;
}
dt {
    color: #D4D4D8;
}
dd {
    color: #D4D4D8;
}
:host ::ng-deep {
    .speeddial-linear-demo {

        .p-speeddial-direction-down {
            left: calc(50% - 2rem);
            top: 0;
        }
    }
}
.card-stats .info-icon i {
    padding: 9px;
}

.border {
    border: none!important;
}

.OK {
    //width: auto;
      background-color: rgb(116, 168, 143);
      color: rgb(4, 43, 4);
      font-size: .80em;
      font-weight: 600;
      padding: 3px;
    }
  
    .ERROR {
      background-color: rgb(221, 169, 169);
      color: rgb(128, 5, 5);
      font-size: .80em;
      font-weight: 600;
      padding: 3px;
    }
  
    .WARNING {
      background-color: rgb(209, 209, 131);
      color: rgb(116, 90, 5);
      font-size: .80em;
      font-weight: 600;
      padding: 3px;
    }
    .NORMAL {
      background-color: rgba(218, 105, 110, 0.979);
      color: rgb(80, 3, 3);
      font-size: .80em;
      font-weight: 600;
      padding: 3px;
    }