<p-dialog
  header="Chi tiết chiến dịch"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [closable]="true"
  [(visible)]="displayBasic"
  (onHide)="onDiscard()"
>
  <div *ngIf="!this.campaign" style="margin-left: 50%">
    <p-progressSpinner
      [style]="{ width: '50px', height: '50px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
  <div *ngIf="this.campaign">
    <!-- detail campaign -->
    <div class="row">
      <div class="col-sm-12">
        <app-card [headerContent]="'Duyệt bài review của Reviewer'">
          <div class="row">
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title" style="font-weight: 600">Ảnh chiến dịch</h4>
              <div class="card">
                <div class="profile-wrap animated">
                  <img
                    style="width: 600px; height: 300px"
                    src="{{ imageUrl }}"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title" style="font-weight: 600">
                Nội dung chiến dịch
              </h4>
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Trạng thái chiến dịch</dt>
                <dd class="col-sm-9">
                  <span>{{ campaign.status }}</span>
                </dd>
                <dt class="col-sm-3">Tiêu đề</dt>
                <dd class="col-sm-9">
                  {{ campaign.name }}
                </dd>
                <dt class="col-sm-3">Nội dung</dt>

                <dd class="col-sm-9 col-sm-offset-3">
                  {{ campaign.description }}
                </dd>
                <dt class="col-sm-3">Ngày bắt đầu</dt>
                <dd class="col-sm-9">
                  {{ campaign.startDay | date: "dd/MM/yyyy" }}
                </dd>
                <dt class="col-sm-3">Ngày kết thúc</dt>
                <dd class="col-sm-9">
                  {{ campaign.endDay | date: "dd/MM/yyyy" }}
                </dd>
                <dt class="col-sm-3">Trường</dt>
                <dd class="col-sm-9">
                  {{ campaign.universityName }}
                </dd>
                <dt class="col-sm-3">Campus</dt>
                <dd class="col-sm-9">
                  {{ campaign.campusName }}
                </dd>
              </dl>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-card [headerContent]="'Duyệt bài review của Reviewer'">
          <div class="row">
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title" style="font-weight: 600">
                Thống kê Review trong chiến dịch
              </h4>
              <!-- published -->
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="card card-stats mt-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <div class="info-icon text-center icon-primary">
                            <i class="pi pi-globe" style="font-size: 2rem"></i>
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="numbers">
                            <p class="card-category">
                              Số bài review published
                            </p>
                            <h3 class="card-title">{{countSuccessReviews}} bài</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <hr />

                      <div class="stats">
                        <a
                          class="circle-right"
                          (click)="openSuccess(contentSuccess)"
                          href="javascript:void(0)"
                        >
                          <span
                            ><i
                              class="pi pi-chevron-circle-right"
                              style="font-size: 1.5rem"
                            ></i
                          ></span>
                        </a>
                        Xem chi tiết
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- đang chờ xét duyệt -->
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="card card-stats">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <div class="info-icon text-center icon-warning">
                            <i
                              class="pi pi-exclamation-triangle"
                              style="font-size: 2rem"
                            ></i>
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="numbers">
                            <p class="card-category">
                              Số bài review đang chờ xét duyệt
                            </p>
                            <h3 class="card-title">{{countWaitingReviews}} bài</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <hr />

                      <div class="stats">
                        <a
                          class="circle-right"
                          (click)="openWarning(contentWarning)"
                          href="javascript:void(0)"
                        >
                          <span
                            ><i
                              class="pi pi-chevron-circle-right"
                              style="font-size: 1.5rem"
                            ></i
                          ></span>
                        </a>
                        Xem chi tiết
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- review bị từ chối -->
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="card card-stats">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <div class="info-icon text-center icon-danger">
                            <i class="pi pi-ban" style="font-size: 2rem"></i>
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="numbers">
                            <p class="card-category">
                              Số bài review bị từ chối
                            </p>
                            <h3 class="card-title">{{countUnpublishReviews}} bài</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <hr />

                      <div class="stats">
                        <a
                          class="circle-right"
                          (click)="openDanger(contentDanger)"
                          href="javascript:void(0)"
                        >
                          <span
                            ><i
                              class="pi pi-chevron-circle-right"
                              style="font-size: 1.5rem"
                            ></i
                          ></span>
                        </a>
                        Xem chi tiết
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Criteria -->
            <div class="col-sm-12 col-xl-6">
              <div class="d-flex bd-highlight">
                <div class="p-2 w-100 bd-highlight">
                  <h4 class="p-m-0" style="font-weight: 600">
                    Quản lý tiêu chí chiến dịch
                  </h4>
                </div>
                <div class="p-2 flex-shrink-0 bd-highlight">
                  <button
                    pButton
                    pRipple
                    label="Thêm mới"
                    icon="pi pi-plus"
                    class="p-button-success p-mr-2"
                    (click)="openNewCriteria()"
                  ></button>
                </div>
              </div>
              <div class="row"></div>
              <dl class="dl-horizontal row mt-2">
                <dd class="col-sm-12 col-sm-offset-3">
                  <p-table [value]="criterions" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="name">
                          Tên tiêu chí<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                          Overall Rating
                          <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th style="width: 5rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-criteria>
                      <tr>
                        <td>{{ criteria.name }}</td>
                        <td>
                          <p-rating
                            [ngModel]="criteria.overallRating"
                            readonly="true"
                            stars="5"
                            [cancel]="false"
                          ></p-rating>
                        </td>
                        <td>
                          <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success p-mr-2"
                            style="margin-right: 5px"
                            (click)="editCriteria(criteria)"
                          ></button>
                          <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteCriteria(criteria)"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3">Chiến dịch này không có tiêu chí.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </dd>
              </dl>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <!-- show thong ke tat ca bai review -->
    <div class="card" style="width: 950px; height: 600px">
      <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
          <h4 class="p-m-0" style="font-weight: 600">
            Thông tin đánh giá tiêu chí tất cả bài review
          </h4>
        </div>
        <div class="p-2 flex-shrink-0 bd-highlight">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search reviewer"
              [(ngModel)]="reviewer"
            />
          </span>
        </div>
      </div>
      <p-chart
        type="bar"
        [data]="allReviewData"
        [options]="allReviewOptions"
      ></p-chart>
    </div>
  </div>

  <!-- criteria modal -->
  <p-dialog
    [(visible)]="criteriaDialog"
    [style]="{ width: '350px' }"
    header="Thông tin tiêu chí"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Tên tiêu chí</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="criteriaName"
          required
          autofocus
        />
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideCriteriaDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveCriteria()"
      ></button>
    </ng-template>
  </p-dialog>

  <!-- modal  review  list-->
  <p-dialog
    header="Bài review được chấp thuận"
    [(visible)]="displaySuccessReview"
    [breakpoints]="{ '950px': '75vw' }"
    [style]="{ width: '55vw' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onHide)="closeSuccessReviewModal()"
  >
    <app-card [headerContent]="'Danh sách bài review của chiến dịch'">
      <div class="row border m-15 p-10">
        <div class="col-sm-12">
          <p-table [value]="successReviews" dataKey="title" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="title">
                  Tiêu đề <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="onDateTime">
                  Ngày tạo <p-sortIcon field="onDateTime"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                  Trạng thái <p-sortIcon field="status"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-review let-expanded="expanded">
              <tr>
                <td>
                  <button
                    type="button"
                    pButton
                    pRipple
                    (click)="openCriteriaOfReview(review)"
                    [pRowToggler]="review"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="
                      expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                  ></button>
                </td>
                <td>{{ review.title }}</td>
                <td>{{ review.onDateTime | date: "dd/MM/yyyy" }}</td>
                <td>{{ review.status }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
              <tr>
                <td colspan="4">
                  <div class="p-p-3">
                  <p-table [value]="criterionsOfReview" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="name">
                          Tên tiêu chí<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                          Đánh giá
                          <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th style="width: 5rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-criteriaOfReview>
                      <tr>
                        <td>{{ criteriaOfReview.criteriaName }}</td>
                        <td>
                          <p-rating
                            [ngModel]="criteriaOfReview.rating"
                            readonly="true"
                            stars="5"
                            [cancel]="false"
                          ></p-rating>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="2">Chiến dịch này không có tiêu chí.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </app-card>
  </p-dialog>

  <p-dialog
    header="Bài review đang chờ xét duyệt"
    [(visible)]="displayWaitingReview"
    [breakpoints]="{ '950px': '75vw' }"
    [style]="{ width: '55vw' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onHide)="closeWaitingReviewModal()"
  >
    <app-card [headerContent]="'Danh sách bài review của chiến dịch'">
      <div class="row border m-15 p-10">
        <div class="col-sm-12">
          <p-table [value]="waitingReviews" dataKey="title" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="title">
                  Tiêu đề <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="onDateTime">
                  Ngày tạo <p-sortIcon field="onDateTime"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                  Trạng thái <p-sortIcon field="status"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-review let-expanded="expanded">
              <tr>
                <td>
                  <button
                    type="button"
                    pButton
                    pRipple
                    (click)="openCriteriaOfReview(review)"
                    [pRowToggler]="review"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="
                      expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                  ></button>
                </td>
                <td>{{ review.title }}</td>
                <td>{{ review.onDateTime | date: "dd/MM/yyyy" }}</td>
                <td>{{ review.status }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
              <tr>
                <td colspan="4">
                  <div class="p-p-3">
                  <p-table [value]="criterionsOfReview" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="name">
                          Tên tiêu chí<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                          Đánh giá
                          <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th style="width: 5rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-criteriaOfReview>
                      <tr>
                        <td>{{ criteriaOfReview.criteriaName }}</td>
                        <td>
                          <p-rating
                            [ngModel]="criteriaOfReview.rating"
                            readonly="true"
                            stars="5"
                            [cancel]="false"
                          ></p-rating>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="2">Chiến dịch này không có tiêu chí.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </app-card>
  </p-dialog>

  <p-dialog
    header="Bài review bị từ chối public"
    [(visible)]="displayUnpublishReview"
    [breakpoints]="{ '950px': '75vw' }"
    [style]="{ width: '55vw' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onHide)="closeUnpublishReviewModal()"
  >
    <app-card [headerContent]="'Danh sách bài review của chiến dịch'">
      <div class="row border m-15 p-10">
        <div class="col-sm-12">
          <p-table [value]="unpublishReviews" dataKey="title" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="title">
                  Tiêu đề <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="onDateTime">
                  Ngày tạo <p-sortIcon field="onDateTime"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                  Trạng thái <p-sortIcon field="status"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-review let-expanded="expanded">
              <tr>
                <td>
                  <button
                    type="button"
                    pButton
                    pRipple
                    (click)="openCriteriaOfReview(review)"
                    [pRowToggler]="review"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="
                      expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                  ></button>
                </td>
                <td>{{ review.title }}</td>
                <td>{{ review.onDateTime | date: "dd/MM/yyyy" }}</td>
                <td>{{ review.status }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
              <tr>
                <td colspan="4">
                  <div class="p-p-3">
                  <p-table [value]="criterionsOfReview" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="name">
                          Tên tiêu chí<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                          Đánh giá
                          <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th style="width: 5rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-criteriaOfReview>
                      <tr>
                        <td>{{ criteriaOfReview.criteriaName }}</td>
                        <td>
                          <p-rating
                            [ngModel]="criteriaOfReview.rating"
                            readonly="true"
                            stars="5"
                            [cancel]="false"
                          ></p-rating>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="2">Chiến dịch này không có tiêu chí.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </app-card>
  </p-dialog>
</p-dialog>
