<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-chat-33"> </i>
              </div>
            </div>
            <div class="col-9">
              <div class="numbers">
                <p class="card-category">Bài review được chấp thuận!</p>
                <h3 class="card-title">{{ countPublishReviews }} bài</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <a
              class="circle-right"
              (click)="openSuccess()"
              href="javascript:void(0)"
            >
              <span
                ><i
                  class="pi pi-chevron-circle-right"
                  style="font-size: 1.5rem"
                ></i
              ></span>
            </a>
            Xem chi tiết
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-chat-33"> </i>
              </div>
            </div>
            <div class="col-9">
              <div class="numbers">
                <p class="card-category">Bài review đang chờ xét duyệt!</p>
                <h3 class="card-title">{{ countWaitingReviews }} bài</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <a
              class="circle-right"
              (click)="openWarning()"
              href="javascript:void(0)"
            >
              <span
                ><i
                  class="pi pi-chevron-circle-right"
                  style="font-size: 1.5rem"
                ></i
              ></span>
            </a>
            Xem chi tiết
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="info-icon text-center icon-danger">
                <i class="tim-icons icon-molecule-40"> </i>
              </div>
            </div>
            <div class="col-9">
              <div class="numbers">
                <p class="card-category">Bài review bị từ chối!</p>
                <h3 class="card-title">{{ countUnpublishedReviews }} bài</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <a
              class="circle-right"
              (click)="openDanger()"
              href="javascript:void(0)"
            >
              <span
                ><i
                  class="pi pi-chevron-circle-right"
                  style="font-size: 1.5rem"
                ></i
              ></span>
            </a>
            Xem chi tiết
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-card [headerContent]="'Duyệt bài review của Reviewer'">
        <ng-container *ngIf="isShow; else loadData">
          <div class="p-field p-col-12 p-md-6">
            <div class="custom-skeleton p-p-4">
              <ul class="p-m-0 p-p-0">
                <li class="p-mb-3">
                  <div class="p-d-flex">
                    <p-skeleton
                      shape="circle"
                      size="4rem"
                      styleClass="p-mr-2"
                    ></p-skeleton>
                    <div style="flex: 1">
                      <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                      <p-skeleton width="75%"></p-skeleton>
                    </div>
                  </div>
                </li>
                <li class="p-mb-3">
                  <div class="p-d-flex">
                    <p-skeleton
                      shape="circle"
                      size="4rem"
                      styleClass="p-mr-2"
                    ></p-skeleton>
                    <div style="flex: 1">
                      <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                      <p-skeleton width="75%"></p-skeleton>
                    </div>
                  </div>
                </li>
                <li class="p-mb-3">
                  <div class="p-d-flex">
                    <p-skeleton
                      shape="circle"
                      size="4rem"
                      styleClass="p-mr-2"
                    ></p-skeleton>
                    <div style="flex: 1">
                      <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                      <p-skeleton width="75%"></p-skeleton>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="p-d-flex">
                    <p-skeleton
                      shape="circle"
                      size="4rem"
                      styleClass="p-mr-2"
                    ></p-skeleton>
                    <div style="flex: 1">
                      <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                      <p-skeleton width="75%"></p-skeleton>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
        <ng-template #loadData>
          <div class="row">
            <div class="col-sm-12 col-xl-12">
              <h4 class="sub-title">Thông tin Reviewer</h4>
              <div class="card">
                <div class="profile-wrap animated fadeIn">
                  <div class="info-wrap">
                    <div class="avatar-wrap">
                      <img
                        src="{{ waitingReviews[0].reviewerAvatar }}"
                        alt="avatar"
                      />
                    </div>
                    <span class="user-name">{{
                      waitingReviews[0].reviewerName
                    }}</span>
                    <span class="user-post">{{
                      waitingReviews[0].reviewerEmail
                    }}</span>
                    <span class="map-location">
                      <i class="pi pi-briefcase mr-2 mt-2"></i>
                      <span
                        >{{ waitingReviews[0].universityName }} -
                        {{ waitingReviews[0].campusName }}</span
                      >
                    </span>
                  </div>
                  <div class="profile-head">
                    <img
                      src="{{ waitingReviews[0].reviewerAvatar }}"
                      alt="profile-head-bg"
                      class="profile-head-bg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6 p-l-4">
              <h4 class="sub-title">Nội dung bài review!</h4>
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Tiêu đề</dt>
                <dd class="col-sm-9">
                  {{ waitingReviews[0].title }}
                </dd>
                <dt class="col-sm-3">Nội dung</dt>

                <dd class="col-sm-12 col-sm-offset-3">
                  {{ waitingReviews[0].content }}
                </dd>
                <dt class="col-sm-3 text-truncate">Tiêu chí review</dt>
                <dd class="col-sm-12">
                  <div class="p-d-flex p-ai-center">
                    <ng-container
                      *ngFor="let criteria of waitingReviews[0].criterions"
                      ><div class="row">
                        <div class="col-sm-5 offset-2">
                          {{ criteria.criteriaName }}
                        </div>
                        <div class="col-sm-5">
                          <div >
                            <p-chip styleClass="p-mr-2">
                                <p-rating
                                [ngModel]="criteria.rating"
                                readonly="true"
                                stars="5"
                                [cancel]="false"
                              ></p-rating
                            ></p-chip></div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal row">
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-primary btn-round"
                    (click)="publishReview()"
                  >
                    Published
                  </button>
                </div>
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-danger btn-round"
                    (click)="openUnpublishedReview(unpublishedModal)"
                  >
                    Unpublished
                  </button>
                </div>
              </dl>
            </div>
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title">PICTURES</h4>
              <p-carousel
                [value]="waitingReviews[0].pictures"
                [numVisible]="1"
                [numScroll]="1"
                [autoplayInterval]="3000"
                [circular]="false"
              >
                <ng-template let-pictureForReview pTemplate="item">
                  <div class="review-item">
                    <div class="review-item-content">
                      <div class="p-mb-3">
                        <img
                          src="{{ pictureForReview.picture }}"
                          class="review-image"
                        />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
          </div>
        </ng-template>
      </app-card>
    </div>
  </div>
  <!-- modal success -->
  <p-dialog
    header="Bài review được chấp thuận!"
    [(visible)]="contentSuccess"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [baseZIndex]="100000"
  >
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Tìm kiếm tiêu đề bài viết!"
            aria-label="Search"
            aria-describedby="search-addon"
            width="80%"
          />
          <button type="button" class="btn btn-outline-primary modelsearch">
            search
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let review of publishReviews">
      <div class="review-card">
        <p-fieldset legend="{{ review.title }}">
          <div class="row border m-15 p-10">
            <div class="col-sm-12 col-xl-12 p-l-4">
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Nội dung</dt>
                <dd class="col-sm-12 col-sm-offset-3">
                  {{ review.content }}
                </dd>
                <dt class="col-sm-3 text-truncate">Tiêu chí review</dt>
                <dd class="col-sm-12">
                  <div class="p-d-flex p-ai-center">
                    <ng-container *ngFor="let criteria of review.criterions">
                      <div class="row">
                        <div class="col-sm-5 offset-2">
                          {{ criteria.criteriaName }}
                        </div>
                        <div class="col-sm-5">
                            <p-chip styleClass="p-mr-2">
                                <p-rating
                                [ngModel]="criteria.rating"
                                readonly="true"
                                stars="5"
                                [cancel]="false"
                              ></p-rating
                            ></p-chip>
                      </div>
                    </div>
                    </ng-container>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal row">
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-primary btn-round"
                    (click)="publishReview()"
                  >
                    Published
                  </button>
                </div>
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-danger btn-round"
                    (click)="unpublishedReview()"
                  >
                    Unpublished
                  </button>
                </div>
              </dl>
            </div>
          </div>
        </p-fieldset>
      </div>
    </ng-container>
  </p-dialog>

  <!-- modal waiting -->
  <p-dialog
    header="Bài review được chấp thuận!"
    [(visible)]="contentWaiting"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [baseZIndex]="100000"
  >
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Tìm kiếm tiêu đề bài viết!"
            aria-label="Search"
            aria-describedby="search-addon"
            width="80%"
          />
          <button type="button" class="btn btn-outline-primary modelsearch">
            search
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let review of waitingReviews">
      <div class="review-card">
        <p-fieldset legend="{{ review.title }}">
          <div class="row border m-15 p-10">
            <div class="col-sm-12 col-xl-12 p-l-4">
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Nội dung</dt>
                <dd class="col-sm-12 col-sm-offset-3">
                  {{ review.content }}
                </dd>
                <dt class="col-sm-3 text-truncate">Tiêu chí review</dt>
                <dd class="col-sm-12">
                  <div class="p-d-flex p-ai-center">
                    <ng-container *ngFor="let criteria of review.criterions">
                      <div class="row">
                        <div class="col-sm-5 offset-2">
                          {{ criteria.criteriaName }}
                        </div>
                        <div class="col-sm-5">
                            <p-chip styleClass="p-mr-2">
                                <p-rating
                                [ngModel]="criteria.rating"
                                readonly="true"
                                stars="5"
                                [cancel]="false"
                              ></p-rating
                            ></p-chip>
                      </div>
                    </div>
                    </ng-container>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal row">
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-primary btn-round"
                    (click)="publishReview()"
                  >
                    Published
                  </button>
                </div>
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-danger btn-round"
                    (click)="unpublishedReview()"
                  >
                    Unpublished
                  </button>
                </div>
              </dl>
            </div>
          </div>
        </p-fieldset>
      </div>
    </ng-container>
  </p-dialog>

  <!-- Modal Danger -->
  <p-dialog
    header="Bài review được chấp thuận!"
    [(visible)]="contentDanger"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [baseZIndex]="100000"
  >
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Tìm kiếm tiêu đề bài viết!"
            aria-label="Search"
            aria-describedby="search-addon"
            width="80%"
          />
          <button type="button" class="btn btn-outline-primary modelsearch">
            search
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let review of unpublishedReviews">
      <div class="review-card">
        <p-fieldset legend="{{ review.title }}">
          <div class="row border m-15 p-10">
            <div class="col-sm-12 col-xl-12 p-l-4">
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Nội dung</dt>
                <dd class="col-sm-12 col-sm-offset-3">
                  {{ review.content }}
                </dd>
                <dt class="col-sm-3 text-truncate">Tiêu chí review</dt>
                <dd class="col-sm-12">
                  <div class="p-d-flex p-ai-center">
                    <ng-container *ngFor="let criteria of review.criterions">
                      <div class="row">
                        <div class="col-sm-5 offset-2">
                          {{ criteria.criteriaName }}
                        </div>
                        <div class="col-sm-5">
                            <p-chip styleClass="p-mr-2">
                                <p-rating
                                [ngModel]="criteria.rating"
                                readonly="true"
                                stars="5"
                                [cancel]="false"
                              ></p-rating
                            ></p-chip>
                      </div>
                    </div>
                    </ng-container>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal row">
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-primary btn-round"
                    (click)="publishReview()"
                  >
                    Published
                  </button>
                </div>
                <div class="col-md-6 text-center">
                  <button
                    class="btn btn-danger btn-round"
                    (click)="unpublishedReview()"
                  >
                    Unpublished
                  </button>
                </div>
              </dl>
            </div>
          </div>
        </p-fieldset>
      </div>
    </ng-container>
  </p-dialog>

  <!-- unpublishedModal -->
  <ng-template #unpublishedModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Lí do bài viết không được public</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row border m-15 p-10">
        <div class="col-sm-12 col-xl-12 p-l-4">
          <h4 class="sub-title">Nội dung bài review!</h4>
          <dl class="dl-horizontal row">
            <dt class="col-sm-3">Tiêu đề</dt>
            <dd class="col-sm-9">
              {{ unpublishedReviewModalData.title }}
            </dd>
            <dt class="col-sm-3">Nội dung</dt>

            <dd class="col-sm-12 col-sm-offset-3">
              {{ unpublishedReviewModalData.content }}
            </dd>
            <dt class="col-sm-3 text-truncate">Tiêu chí review</dt>
            <dd class="col-sm-9">
              <div class="p-d-flex p-ai-center">
                <ng-container
                  *ngFor="let criteria of unpublishedReviewModalData.criterions"
                  ><span
                    >{{ criteria.criteriaName }}
                    <p-chip styleClass="p-mr-2"
                      ><p-rating
                        [ngModel]="criteria.rating"
                        readonly="true"
                        stars="5"
                        [cancel]="false"
                      ></p-rating></p-chip
                  ></span>
                </ng-container>
              </div>
            </dd>
          </dl>
            <dl class="dl-horizontal row">
              <div class="col-md-6 text-center">
                <button
                  class="btn btn-danger btn-round"
                  (click)="modal.dismiss('Cross click')"
                >
                  Cancel
                </button>
              </div>
            <div class="col-md-6 text-center">
              <button
                class="btn btn-primary btn-round"
                (click)="unpublishedReview()"
              >
                Confirm
              </button>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </ng-template>
  <p-confirmDialog></p-confirmDialog>
  <p-toast position="top-right"></p-toast>
</div>
