<div class="row">
  <!-- Start-->
  <div class="col-md-12 col-xl-4">
    <div class="user-card-body card">
      <div class="card-body">
        <div class="top-card text-center">
          <img src="assets/images/widget/user1.png" class="img-responsive" alt="">
        </div>
        <div class="card-contain text-center p-t-40">
          <h5 class="text-capitalize p-b-10">Gregory Johnes</h5>
          <p class="text-muted">Califonia, USA</p>
        </div>
        <div class="card-data">
          <div class="row">
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Followers</p>
              <span>345</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Following</p>
              <span>40</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Questions</p>
              <span>12</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
          </div>
        </div>
        <div class="card-button p-t-50">
          <div class="row">
            <div class="col-6 text-right">
              <button class="btn btn-primary btn-round">Follow</button>
            </div>
            <div class="col-6 text-left">
              <button class="btn btn-success btn-round">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->


  <!-- Start-->
  <div class="col-md-12 col-xl-4">
    <!-- Overdue Task Start-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body-big card-status">
            <h5>Income Status</h5>
            <div class="card-body text-center">
              <h2 class="text-primary">$4,612</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="f-16 text-muted m-0">Totale Income : $4,679</p>
              </div>
              <div class="col-6">
                <div class="text-muted f-16 text-right">
                  <span>20.56%</span>
                  <i class="icofont icofont-caret-up text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body-big card-status">
            <h5>Sale Status</h5>
            <div class="card-body text-center">
              <h2 class="text-warning">425</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="f-16 text-muted m-0">Totale Income : 3,712</p>
              </div>
              <div class="col-6">
                <div class="text-muted f-16 text-right">
                  <span>20.56%</span>
                  <i class="icofont icofont-caret-down text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->
</div>
