<p-dialog
  header="Chi tiết trường đại học"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [closable]="true"
  [(visible)]="displayBasic"
  (onHide)="onDiscard()"
>
  <div *ngIf="!this.university" style="margin-left: 50%">
    <p-progressSpinner
      [style]="{ width: '50px', height: '50px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
  <div *ngIf="this.university">
    <!-- detail campaign -->
    <div class="row">
      <div class="col-sm-12">
        <app-card [headerContent]="'Thông tin chi tiết trường đại học'">
          <div class="row">
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title" style="font-weight: 600">
                Logo trường đại học
              </h4>
              <div class="card">
                <div class="profile-wrap animated">
                  <img
                    style="width: 600px; height: 300px"
                    src="{{ imageLogo }}"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <h4 class="sub-title" style="font-weight: 600">Thông tin</h4>
              <dl class="dl-horizontal row">
                <dt class="col-sm-5">Tên trường đại học</dt>
                <dd class="col-sm-7">
                  {{ university.name }}
                </dd>
                <dt class="col-sm-5">Email</dt>

                <dd class="col-sm-7 col-sm-offset-3">
                  {{ university.email }}
                </dd>
                <dt class="col-sm-5">Số điện thoại</dt>
                <dd class="col-sm-7">
                  {{ university.phoneNumber }}
                </dd>
                <dt class="col-sm-5">Website</dt>
                <dd class="col-sm-7">
                  {{ university.link }}
                </dd>
              </dl>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-card [headerContent]="'Quản lý Campus thuộc trường đại học'">
          <div class="row">
            <div class="col-sm-12 col-xl-12">
              <div class="row" style="padding: 0 15px">
                <h4 class="sub-title" style="font-weight: 600">
                  Quản lý Campus thuộc trường đại học
                </h4>
                <div class="ml-auto mb-2">
                  <button
                    pButton
                    pRipple
                    label="Thêm mới"
                    icon="pi pi-plus"
                    class="p-button-success p-mr-2"
                    (click)="openNewCampus()"
                    pTooltip="Thêm mới campus"
                  ></button>
                </div>
              </div>
              <p-table [value]="university.campus" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem" class="text-center"></th>
                    <th pSortableColumn="name" style="text-align: left">
                      Tên campus<p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="text-align: left">Địa chỉ</th>
                    <th style="text-align: left" style="width: 10rem">Email</th>
                    <th style="text-align: right">Số điện thoại</th>
                    <th style="width: 10rem">Thao tác</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campus>
                  <tr>
                    <td>
                      <button
                        type="button"
                        pButton
                        pRipple
                        (click)="openMajorsOfUniversity(campus)"
                        [pRowToggler]="campus"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="
                          expanded
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        "
                        pTooltip="Xem các ngành của campus"
                      ></button>
                    </td>
                    <td style="text-align: left">{{ campus.name }}</td>
                    <td style="text-align: left">{{ campus.address }}</td>
                    <td style="text-align: left">{{ campus.email }}</td>
                    <td style="text-align: right">{{ campus.phoneNumber }}</td>
                    <td>
                      <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-mr-2"
                        style="margin-right: 5px"
                        (click)="editCampus(campus)"
                        pTooltip="Chỉnh sửa campus"
                      ></button>
                      <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteCampus(campus)"
                        pTooltip="Xoá campus"
                      ></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td></td>
                    <td colspan="5">Trường đại học này không có campus.</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-campus>
                  <tr>
                    <td colspan="6">
                      <div class="p-p-3">
                        <div class="row" style="padding: 0 50px; margin-top: 40px;">
                          <h4 class="sub-title" style="font-weight: 500">
                            Các ngành học
                          </h4>
                          <div class="ml-auto mb-2">
                            <button
                              pButton
                              pRipple
                              label="Thêm mới"
                              icon="pi pi-plus"
                              class="p-button-success p-mr-2"
                              (click)="openNewMajor()"
                              pTooltip="Thêm mới ngành học"
                            ></button>
                          </div>
                        </div>
                        <p-table [value]="campus.majors" dataKey="code">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 3rem" class="text-center"></th>
                              <th
                                pSortableColumn="code"
                                style="width: 15rem; text-align: left"
                              >
                                Mã ngành học
                                <p-sortIcon field="code"></p-sortIcon>
                              </th>
                              <th
                                style="text-align: left; width: 15rem"
                                pSortableColumn="name"
                              >
                                Tên<p-sortIcon field="name"></p-sortIcon>
                              </th>
                              <th style="text-align: left"></th>

                              <th style="text-align: right"></th>
                              <th></th>
                              <th style="width: 10rem">Thao tác</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-majorOfCampus>
                            <tr *ngIf="majorOfCampus.status !=='Deleted'">
                              <td></td>
                              <td style="text-align: left">
                                {{ majorOfCampus.code }}
                              </td>
                              <td style="text-align: left">
                                {{ majorOfCampus.name }}
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>
                                <button
                                  pButton
                                  pRipple
                                  icon="pi pi-pencil"
                                  class="
                                    p-button-rounded p-button-success p-mr-2
                                  "
                                  style="margin-right: 5px"
                                  (click)="editMajor(majorOfCampus)"
                                  pTooltip="Chỉnh sửa ngành học này"
                                ></button>
                                <button
                                  pButton
                                  pRipple
                                  icon="pi pi-trash"
                                  class="p-button-rounded p-button-danger"
                                  (click)="deleteMajor(campus, majorOfCampus)"
                                  pTooltip="Xoá ngành học này"
                                ></button>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td></td>
                              <td colspan="4">
                                Không có ngành học nào ở campus này.
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <!-- campus modal -->
  <p-dialog
    [(visible)]="campusDialog"
    [style]="{ width: '550px' }"
    header="Thông tin campus"
    [modal]="true"
    styleClass="p-fluid"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="content">
      <div class="p-field mt-3">
        <label for="name">Tên campus</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="campus.name"
          required
          autofocus
        />
      </div>
      <div class="p-field mt-3">
        <label for="address">Địa chỉ</label>
        <textarea
          rows="2"
          cols="30"
          type="text"
          id="address"
          [(ngModel)]="campus.address"
          required
          autofocus
          pInputTextarea
        ></textarea>
      </div>
      <div class="p-field mt-3">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          id="email"
          [(ngModel)]="campus.email"
          required
          autofocus
        />
      </div>
      <div class="p-field mt-3">
        <label for="phoneNumber">Số điện thoại</label>
        <input
          type="number"
          pInputText
          id="phoneNumber"
          [(ngModel)]="campus.phoneNumber"
          required
          autofocus
        />
      </div>
      <div class="p-field mt-3">
        <label for="image">Logo campus</label>
        <form
          [formGroup]="campusFormTemplate"
          (submit)="onSubmit(campusFormTemplate.value)"
        >
          <div class="text-center">
            <img
              [src]="campusImgSrc"
              width="350px"
              height="250px"
              (click)="fileUploader.click()"
            />
          </div>
          <div class="form-group">
            <input
              type="file"
              accept="image/*"
              class="form-control"
              #fileUploader
              formControlName="campusImageUrl"
              (change)="showCampusPreview($event)"
            />
          </div>
        </form>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideCampusDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveCampus()"
      ></button>
    </ng-template>
  </p-dialog>

  <!-- major modal -->
  <p-dialog
    [(visible)]="majorDialog"
    [style]="{ width: '350px' }"
    header="Thông tin campus"
    [modal]="true"
    styleClass="p-fluid"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="content">
      <div class="p-field mt-3">
        <label for="code">Mã ngành học</label>
        <input
          type="text"
          pInputText
          id="code"
          [(ngModel)]="major.code"
          required
          autofocus
        />
      </div>
      <div class="p-field mt-3">
        <label for="name">Tên ngành</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="major.name"
          required
          autofocus
        />
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideMajorDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveMajor(campus, major)"
      ></button>
    </ng-template>
  </p-dialog>
</p-dialog>
